<!DOCTYPE html>
<html>
    <head>

    	<style>

    		.boton {    		
    		}

			h2 {
			    color: black;
			    text-align: center;
			    border-style: solid;
			    border-width: medium;
				border-color:orange;

			}

			p {
			    font-family: "Times New Roman";
			    font-size: 15px;
				
			}
			hr{
				color: orange;
			}


		
		</style>
       
    </head>
    <body>
    
        {% block body %}

        <h2>Listado de actividades: </h2>
		<ul>
		{% for nombreActividad in nombre %}

		<li><a href="/altaedicion/{{nombreActividad.idActividad}}">{{nombreActividad.nombreActividad}}</li>


		{% endfor %}
		</ul>
        

        {% endblock %}
       
    </body>
</html>
