<!DOCTYPE html>
<html>
    <head> 
    <meta charset="UTF-8" />
        <title>{% block title %}Actividades{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
        {% block body %}

      <h3>Selecciona el profesor que asistirá:</h3>
		<ul>

        {% for username in agregarprofesor %}
        {% for username2 in agregarprofesor2 %}
        
          
       <li><a href="/agregarprofesor/{{username.idusuario}}/{{username2}}">{{username.username}}</a> </li> 
           
        {% endfor %}
        {% endfor %}
        </ul>

         <hr><hr>
    <a href="/inicio">Volver al inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">Logout</a>
    
        {% endblock %}
  
    </body>
</html>

 
            