<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<style>

h2 {
    color: black;
    text-align: center;
    border-style: solid;
    border-width: medium;
	border-color:orange;

}

p {
    font-family: "Times New Roman";
    font-size: 15px;
	
}
hr{
	color: orange;
}

</style>
		<h2>Gestión de actividades</h2>
    </head>
    <body>
	<!---confirmar-->
	<p>Escribe si necesitas alguna especificación y confirma la actividad</p>
	<textarea name="message" rows="10" cols="30"></textarea>
	<br>
	<input type="submit">
	<hr>
	<!----no autorizar-->
	 <p>Pulsa el boton para no autorizar la actividad</p>
	<input type="submit" value="Noautorizar">
	<hr>
	<!--- validar-->
	 <p>Pulsa el boton para validar la actividad</p>
	<input type="submit" value="validar">
	<hr>
	<!--evaluar-->
	
	<!------baja-->
    <p>Pincha en el boton para dar de baja la actividad</p>
	<input type="submit" value="baja">
	<br><br>
		<hr>
	<!---imprimir-->
	<p>Selecciona los documentos que necesitas imprimir</p>
	<select name="documentos">
    <option value="a">Autorización a menores</option>
    <option value="b">Justificantes</option>
  </select>
  <br><br>
  <input type="submit">
  <hr>
    </body>
</html>
	