<!DOCTYPE html>
<html>
    <head>

    	<style>

    		.boton {


    		
    		}

			h2 {
			    color: black;
			    text-align: center;
			    border-style: solid;
			    border-width: medium;
				border-color:orange;

			}

			p {
			    font-family: "Times New Roman";
			    font-size: 15px;
				
			}
			hr{
				color: orange;
			}


		
		</style>
       
    </head>
    <body>
    
        {% block body %}

        <h2>Gestión de actividades</h2>

        <p>Pulsa para dar de alta una actividad</p>
       	<div class="boton">
       		<a href="/alta">Alta</a>
		</div>       
			<hr>
		<p>Pulsa para consultar una actividad</p>
		<div class="boton">
			<a href="/consultar">Consultar</a>
			<hr>
		</div>	

        {% endblock %}
       
    </body>
</html>
