<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8" />
        <title>{% block title %}Actividades{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    	<style>

    		.boton {


    		
    		}

			h2 {
			    color: black;
			    text-align: center;
			    border-style: solid;
			    border-width: medium;
				border-color:orange;

			}

			p {
			    font-family: "Times New Roman";
			    font-size: 15px;
				
			}
			hr{
				color: orange;
			}


		
		</style>
       
    </head>
    <body>
    
        {% block body %}

        <h2>Gestión de ediciones</h2>

        <p>Pulsa para dar de alta una edición</p>
       	<div class="boton">
       		<a href="/alta">Alta</a>
		</div>       
			<hr>
		<p>Pulsa para consultar una edición</p>
		<div class="boton">
			<a href="/consultar">Consultar</a>
		</div>	
    <br><br>    
    <hr><hr>    
    <a href="/logout">Logout</a> 
    {% endblock %}
    </body>
</html>
