<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
      <style>


h2 {
    color: black;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color:orange;

}

p {
    font-family: "Times New Roman";
    font-size: 15px;
    
}
hr{
    color: orange;
}
</style>
    </head>
    <body>

        {% block body %}
        <h2>ACCEDE A LA APLICACIÓN</h2>

        {% block javascripts %}{% endblock %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                <br>  <br>
        <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

       
            <input type="hidden" name="_target_path" value="/inicio" />
       
            <br>  <br>
        <button type="submit">Login</button>
    </form>
    
        <P>* Si no estás registrado ponte en contacto con el Responsable de Actividades Extraescolares, por favor</P>
        {% endblock %}
    </body>
</html>
